<h2><%= t('omniauth.finish_signup.title') %></h2>

<%= form_for current_user, as: :user, url: do_finish_signup_path, html: { role: 'form'} do |f| %>
  <%= render 'shared/errors', resource: current_user %>

  <div class='callout primary'>
    <%= t("omniauth.finish_signup.username_warning") %>
  </div>
  <div class="small-12">
    <p>Los campos marcados con * son obligatorios.</p>
  </div>
  <%= f.text_field :username, placeholder: t("devise_views.users.registrations.new.username_label") %>
  <% if current_user.errors.include?(:username)%>
  <br>
  <% end %>
  <%= f.email_field :email, placeholder: t("devise_views.users.registrations.new.email_label") %>
  <div class="small-12 terms-and-conditions">
    <p class="accept-terms-text">“De conformidad con lo dispuesto en el artículo 13 de la Ley N° 18.331, de 11 de agosto de 2008, le informamos que al realizar la presente propuesta sus datos personales serán asociados a ésta con la finalidad de formar parte del proceso de cocreación y toda otra acción relacionada con la elaboración del 4to Plan de Acción Nacional de Gobierno Abierto 2018-2020, no siendo la propuesta ingresada vinculante.<br><br>Al realizar esta solicitud, tenga en cuenta que su nombre, institución- si corresponde- , y asunto, pueden ser publicados por AGESIC y otras Entidades Públicas en sus sitios web u otros canales de comunicación, en cumplimiento de lo dispuesto en la Ley N° 18.381, de Acceso a la Información Pública, de 17 de octubre de 2008. <br><br>Los datos personales proporcionados por Usted serán incorporados a las bases de datos de “ID Uruguay” y “Plan de Acción de Gobierno Abierto” responsabilidad de AGESIC. Usted podrá ejercer los derechos de acceso, rectificación, actualización, inclusión o supresión en Liniers 1324, piso 4, Torre Ejecutiva Sur o enviando un correo a gobiernoabierto@agesic.gub.uy.”</p>
    <%= f.label :terms_of_service do %>
      <%= f.check_box :terms_of_service, title: t('form.accept_terms_title'), class: "chk", label: false %>
      <span class="checkbox">
        <%= t("form.accept_terms") %>
      </span>
    <% end %>
    <br>
    <input title="No Acepto" class="chk input-not-accept" type="checkbox">
    <span class="checkbox span-not-accept">
      <%= t("form.no_accept_terms") %>
    </span>
    <script type="text/javascript">
      $('input.chk').on('change', function() {
        $('input.chk').not(this).prop('checked', false);
      });
    </script>
  </div>
  <%= f.submit t("devise_views.users.registrations.new.submit"), class: 'button expanded' %>
  <div class="text-center">
    <%= link_to t("devise_views.users.registrations.new.cancel"), destroy_user_session_path, class: 'delete', method: :delete %>
  </div>
<% end %>
