<% provide :title do %><%= t("devise_views.sessions.new.title") %><% end %>

<h2>Iniciar sesión </h2>
<p> Si ya cuenta con un usuario de ID Uruguay o cédula electrónica haga clic en</p>
<% if feature? :saml_login %>

    <%= link_to "Iniciar sesión", user_omniauth_authorize_path(:saml),
                            title: "Iniciar sesión",
                            class: "button" %>

<% end %>
<br><br>
<h3>Registrarse</h3>
<p>Para poder utilizar esta plataforma debe tener un usuario creado en ID Uruguay o contar con cédula electrónica</p>
<p> Para crear un usuario en ID Uruguay haga clic en </p><%= link_to 'Registrarme en ID Uruguay', 'https://mi.iduruguay.gub.uy/registro', target: '_blank', class: 'button' %>
<br>

<% render 'devise/omniauth_form' %>
<% if params[:login_admin] %>
<p>
  <%= t("devise_views.shared.links.signup",
      signup_link: link_to(t("devise_views.shared.links.signup_link"), new_user_registration_path)).html_safe %>
</p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="small-12 column">
        <%= f.text_field :login, autofocus: true, placeholder: t("devise_views.sessions.new.login_label") %>
      </div>

      <div class="small-12 column">
        <%= f.password_field :password, autocomplete: "off", placeholder: t("devise_views.sessions.new.password_label") %>
        <%= link_to t("devise_views.shared.links.new_password"), new_password_path(resource_name), class: "float-right" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="small-12 column">
          <%= f.label :remember_me do %>
            <%= f.check_box :remember_me, title: t('devise_views.sessions.new.remember_me'), label: false %>
            <span class="checkbox"><%= t("devise_views.sessions.new.remember_me") %></span>
          <% end %>
        </div>
      <% end -%>

      <div class="small-12 medium-6 small-centered">
        <%= f.submit(t("devise_views.sessions.new.submit"), class: "button expanded") %>
      </div>
    </div>
  <% end %>
<% end %>

<%= render "devise/shared/links" %>
<br><br>
<%= link_to '¿Qué es ID Uruguay?', '#', class: 'show-text-home'%>
<p class=''>
  ID Uruguay es la plataforma de autenticación implementada por AGESIC para centralizar cuentas de usuarios y facilitar el acceso web a los servicios digitales del Estado. Esto quiere decir que, una vez registrado en ID Uruguay, podrás ingresar a los servicios vinculados a la cuenta sin necesidad de nuevos registros ni contraseñas adicionales.</p>
<p>La autenticación se puede realizar a través de dos vías diferentes:</p>
<p class="text-home-info">1.Mediante usuario y contraseña</p>
<p class="text-home-info">2.Mediante cédula electrónica: Para ello, es necesario contar con un lector de tarjetas inteligentes, donde se inserta la cédula, y colocar el PIN una vez que este es solicitado. Los componentes necesarios para utilizar este medio se instalan automáticamente en el navegador del usuario la primera vez que se utilice el servicio. Este mecanismo no exige registro previo.</p>
<p><%=link_to 'Más información sobre ID Uruguay ', 'https://mi.iduruguay.gub.uy/ayuda', target: '_blank'%>
