<% provide :title do %><%= t('proposals.index.title') %><% end %>
<% content_for :header_addon do %>
  <%= render "shared/search_form",
             search_path: proposals_path(page: 1),
             i18n_namespace: "proposals.index.search_form" %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: proposals_url %>
<% end %>

<main>

  <% if @search_terms || @advanced_search_terms || @tag_filter || params[:retired].present? %>
    <%= render "shared/section_header", i18n_namespace: "proposals.index.section_header", image: "proposals", is_proposals: true %>
  <% else %>
    <%= render "shared/section_header", i18n_namespace: "proposals.index.section_header", image: "proposals", is_proposals: true %>
  <% end %>

  <div class="row">
    <div id="proposals" class="proposals-list small-12 medium-9 column">

      <% if has_banners? %>
        <%= render "shared/banner" %>
      <% end %>

      <% if @featured_proposals.present? %>
        <div id="featured-proposals" class="row featured-proposals">
          <div class="small-12 column">
            <h3>
              <%= t("proposals.index.featured_proposals") %>
            </h3>
          </div>
          <% @featured_proposals.each do |featured_proposal| %>
            <%= render "featured_proposal", proposal: featured_proposal %>
          <% end %>
        </div>
      <% end %>

      <%= render 'shared/order_links', i18n_namespace: "proposals.index" %>
      
      <% if @proposals.any? %>
        <div class="show-for-small-only">
          <%= link_to t("proposals.index.start_proposal"),
                      new_proposal_guide,
                      class: 'button expanded' %>
        </div>
      <% end %>

      <div id="proposals-list">
        <% if @proposals.any? || current_user.blank? %>
          <%= render partial: 'proposals/proposal', collection: @proposals %>
        <% else %>
          <%= empty_recommended_proposals_message_text(current_user, true) %>
        <% end %>
        <%= paginate @proposals %>
      </div>
    </div>

    <div class="small-12 medium-3 column">
      <aside class="margin-bottom">
        <div class="proposals-create expanded">
          <% if !Proposal.is_proposal.in_active_period? %>
            <div class="participation-not-allowed" style='display:none' aria-hidden="false">
              <%= t("proposals.inactive",
                    date_from: @proposal_date_from,
                    date_to: @proposal_date_to).html_safe %>
            </div>
          <% end %>
          <% if Proposal.can_manage? current_user %>
            <%= link_to t("proposals.index.start_proposal"),
                        new_proposal_guide,
                        class: 'button expanded' %>
          <% end %>
        </div>
        <% if params[:retired].blank? %>
          <%= render 'categories' %>
          <%= render 'geozones' %>
          <div id="section_help" class="margin" data-magellan-target="section_help">
            <h2 class="sidebar-title"><%= t("proposals.index.section_footer.title") %></h2>
            <p>Cualquier persona puede crear propuestas, ya sea en carácter individual o en representación de organismos públicos, sociedad civil organizada, academia o sector privado.<br><br>
            Para crear una propuesta, <strong>Regístrate en <%= link_to 'ID Uruguay', 'https://mi.iduruguay.gub.uy/registro', target: :_blank %> e inicia sesión y luego hacer clic en el botón "Crea una propuesta". </strong>  y completa los datos que aparecen en el formulario.<br><br>
            Ingresar el título de la propuesta, incorporar un resumen de los aspectos más importantes y
            una descripción más detallada. Puede adjuntar materiales relacionados, como imágenes,
            videos, documentos y enlaces a páginas de internet que complemente, enriquezca o justifique su propuesta.<br><br> Una vez creada, la propuesta aparecerá en el listado de propuestas para que cualquier
            persona pueda comentarla.<br><br>
            <strong>Plazo para ingresar y comentar propuestas hasta el 30 de junio de 2018.</strong><br><br>
            Se denominan <strong>"propuestas de Gobierno Abierto"</strong> a iniciativas que aporten a los pilares de
            gobierno abierto: transparencia y acceso a la información pública, rendición de cuentas
            públicas, participación ciudadana, colaboración e innovación pública y ciudadana las cuales buscan contribuir al interés general sobre una temática determinada.<br>
            </p>
          </div>
        <% end %>
      </aside>
    </div>

  </div>
</main>
