<style>
  .header-pdf {
    background-color: #08296c;
  }
  .header-pdf p{
    color: #fff;
    text-align: center;
  }
</style>
<h2 class="header-pdf">
  <p>4to Plan de Accion de Gobierno Abierto 2018-2020</p>
</h2>
<% provide :title do %><%= @proposal.title %><% end %>
<% content_for :meta_description do %><%= @proposal.summary %><% end %>
<% cache [locale_and_user_status(@proposal), @proposal, @proposal.author, Flag.flagged?(current_user, @proposal), @proposal_votes] do %>
  <div class="proposal-show">
    <div id="<%= dom_id(@proposal) %>" class="row">
      <div class="small-12 medium-9 column">
        <h1><%= @proposal.title %></h1>
        <% if @proposal.retired? %>
          <div data-alert class="callout alert margin-top proposal-retired">
            <strong>
              <%= t("proposals.show.retired_warning") %><br>
            </strong>
          </div>
        <% elsif @proposal.conflictive? %>
          <div data-alert class="callout alert margin-top">
            <strong><%= t("proposals.show.flag") %></strong>
          </div>
        <% end %>

        <div class="proposal-info">
          <% if @proposal.author.hidden? || @proposal.author.erased? %>
            <span class="icon-deleted author-deleted"></span>
            <span class="author deleted">
                <%= t("shared.author_info.author_deleted") %>
            </span>
          <% else %>
            <span class="author">
              <%= @proposal.author.name %>.
            </span>
          <% end %>
          <% unless @proposal.responsible_name.blank? %>
            <span>Publicado como <%= @proposal.responsible_name%></span>
          <% end %>
          <span class="bullet">&nbsp;&bull;&nbsp;</span>
          <%= l @proposal.created_at.to_date %>
        </div>

        <%= render_pdf_image(@proposal.image, :large, true) if @proposal.image.present? %>

        <br>
        <p>
          <%= t("proposals.show.code") %>
          <strong><%= @proposal.code %></strong>
        </p>

        <blockquote><%= @proposal.summary %></blockquote>

        <% if @proposal.video_url.present? %>
          <div class="small-12 medium-7 small-centered">
            <div class="flex-video">
              <div id="js-embedded-video" data-video-code="<%= embedded_video_code %>"></div>
            </div>
          </div>
        <% end %>

        <%= safe_html_with_links @proposal.description %>

        <% if feature?(:map) && map_location_available?(@proposal.map_location) %>
          <div class="margin">
            <%= render_map(@proposal.map_location, "proposal", false, nil) %>
          </div>
        <% end %>

        <% if @proposal.external_url.present? %>
          <div class="document-link">
            <p>
              <span class="icon-document"></span>&nbsp;
              <strong><%= t('proposals.show.title_external_url') %></strong>
            </p>
              <%= text_with_links @proposal.external_url %>
          </div>
        <% end %>

        <% if @proposal.video_url.present? %>
          <div class="video-link">
            <p>
              <span class="icon-video"></span>&nbsp;
              <strong><%= t('proposals.show.title_video_url') %></strong>
            </p>
            <%= text_with_links @proposal.video_url %>
          </div>

        <% end %>

        <h4><%= @proposal.question %></h4>

        <% if @proposal.retired? %>
          <div id="retired_explanation" class="callout">
            <h2><%= t('proposals.show.retired') %>: <%= t("proposals.retire_options.#{@proposal.retired_reason}") unless @proposal.retired_reason == 'other' %></h2>
            <%= simple_format text_with_links(@proposal.retired_explanation), {}, sanitize: false %>
          </div>
        <% end %>

        <%= render 'shared/tags.html.erb', taggable: @proposal %>
      </div>

    </div>
  </div>
<% end %>

<div class="tabs-content" data-tabs-content="proposals-tabs" role="tablist">

  <div class="tabs-panel is-active" id="tab-comments">
    <%= render "proposals/comments_pdf.html.erb" %>
  </div>

  <div class="tabs-panel" id="tab-documents">
    <%= render 'documents/documents_pdf.html.erb',
                documents: @proposal.documents,
                max_documents_allowed: Proposal.max_documents_allowed %>
  </div>
</div>
