<% comment_flags ||= @comment_flags %>
<% cache [locale_and_user_status(comment), comment, commentable_cache_key(comment.commentable), comment.author, (comment_flags[comment.id] if comment_flags)] do %>
  <ul id="<%= dom_id(comment) %>" class="comment no-bullet small-12">
    <li class="comment-body">
      <% if comment.hidden? || comment.user.hidden? %>
        <% if comment.children.size > 0 %>
          <div class="callout secondary">
            <p><%= t("comments.comment.deleted") %></p>
          </div>
        <% end %>
      <% else %>
        <div class="comment-info">

          <% if comment.as_administrator? %>
            <span class="user-name"><%= t("comments.comment.admin") %> #<%= comment.administrator_id %></span>
          <% elsif comment.as_moderator? %>
            <span class="user-name"><%= t("comments.comment.moderator") %> #<%= comment.moderator_id %></span>
          <% else %>

            <% if comment.user.hidden? || comment.user.erased? %>
              <span class="user-name"><%= t("comments.comment.user_deleted") %></span>
            <% else %>
              <% if comment.user.display_official_position_badge? %>
                &nbsp;&bull;&nbsp;
                <span class="label round level-<%= comment.user.official_level %>">
                  <%= comment.user.official_position %>
                </span>
              <% end %>
            <% end %>
            <% if comment.user.verified_organization? %>
              &nbsp;&bull;&nbsp;
              <span class="label round is-association">
                <%= t("shared.collective") %>
              </span>
            <% end %>
            <% if comment.user_id == comment.commentable.author_id %>
              &nbsp;&bull;&nbsp;
              <span class="label round is-author">
                <%= t("comments.comment.author") %>
              </span>
            <% end %>

          <% end %>

          <% if comment.as_organism? %>
          &nbsp;&bull;&nbsp;<span class="user-name"><%= comment.organism %></span>
          <% end %>
          &nbsp;&bull;&nbsp;<span><%= l comment.created_at.to_datetime, format: :datetime %></span>
        </div>

        <div class="comment-user
                  <%= user_level_class comment %>
                  <%= comment_author_class comment, comment.commentable.author_id %>">
          <%= simple_format text_with_links(comment.body), {}, sanitize: false %>
        </div>
        <% if comment.documents.any? %>
          <div class="comment-user">
            <%= render 'documents/documents_pdf.html.erb',
                       documents: comment.documents,
                       max_documents_allowed: Comment.max_documents_allowed,
                       inactive: local_assigns[:inactive]
            %>
          </div>
        <% end %>
      <% end %>
    </li>
    <% unless child_comments_of(comment).empty? %>
        <% child_comments_of(comment).each do |child| %>
            <%= render 'comments/comment_pdf.html.erb', comment: child, inactive: local_assigns[:inactive] %>
        <% end %>
    <% end %>
  </ul>
<% end %>
