<footer>
  <div class="row">

    <div class="negativ-margin small-12 medium-8 small-margin-top-30 large-6 pull">
      <div class=" column">
        <%= link_to "http://presidencia.gub.uy" , target: "_blank"  do %>
          <%= image_tag 'LogoPresidencia.png', class: 'pull presidencia-margin negativ-margin margin-bot-10', alt: 'precidencia' %>
        <% end %>
        <%= link_to "http://agesic.gub.uy" , target: "_blank"  do %>
          <%= image_tag 'LogoAgesic.png', class: 'pull', alt: 'agesic' %>
        <% end %>
      </div>
    </div>
    <div class="small-8 medium-4 tablet-logo small-margin-left large-6">
      <%= link_to "www.gobiernoabierto.gub.uy", "http://gobiernoabierto.gub.uy/", class: "big-p blue-text" , target: "_blank" %>
    </div>

  <div>
    <div class="small-9 medium-4 large-3 margin-footer-p column">
      <p class="ih-footer"> Este portal usa la <%= link_to "aplicacion CONSUL", "https://github.com/consul/consul" , target: "_blank" %> que es <%= link_to "software de codigo abierto", "http://www.gnu.org/licenses/agpl-3.0.html" , target: "_blank" %>.</p>
    </div>
  <div class="small-12 medium-6 column ">
      <div class="text-right">
        <ul>
          <li class="inline-block condition-and-privacy-small small-margin-right">
            <p><%= link_to "Políticas de privacidad", '/privacy' %> y <%= link_to "Condiciones de uso", '/conditions' %></p>
          </li>
          <li class="inline-block">
            <%= link_to "https://twitter.com/agesic", target: "_blank",
                         title: 'agesic twitter' do %>
                            <span class="show-for-sr">agesic twitter</span>
                            <span class="fa fa-twitter float-right" aria-hidden="true"></span>
            <% end %>
          </li>
          <li class="inline-block">
            <%= link_to "https://www.facebook.com/agesic.uy", target: "_blank",
                        title: 'agesic facebook' do %>
                        <span class="show-for-sr">agesic facebook</span>
                        <span class="fa fa-facebook float-right" aria-hidden="true"></span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <%= raw content_block("footer", I18n.locale) %>
  </div>
</footer>
