<footer>
  <div class="row">

    <div class="negativ-margin small-12 medium-8 small-margin-right small-margin-top-30 large-6 float-right">
      <div class=" column">
        <%= image_tag 'LogoPresidencia.png', class: 'float-right presidencia-margin negativ-margin margin-bot-10', alt: 'precidencia' %>
        <%= image_tag 'LogoAgesic.png', class: 'float-right', alt: 'agesic' %>
      </div>
    </div>
    <div class="small-8 medium-4 tablet-logo margin-left-10 small-margin-left large-6">
      <h1 class="logo   row">
        <%= link_to "www.gobiernoabierto.gub.uy", "http://gobiernoabierto.gub.uy/", class: "medium-text blue-text" , target: "_blank" %>
      </h1>
    </div>



  <div>
    <div class="small-8 medium-4 large-3 margin-footer-p column">
      <p> Este portal usa la <%= link_to "aplicacion CONSUL", "https://github.com/consul/consul" , target: "_blank" %> que es <%= link_to "software de codigo abierto", "http://www.gnu.org/licenses/agpl-3.0.html" , target: "_blank" %>. Para asistencia tecnica entra en <%= link_to "Asistencia tecnica", faq_path %></p>
    </div>

    <div class="small-12 medium-4 column social">
      <div class="text-right margin-top-30">
        <ul>
          <li class="inline-block">
            <%= link_to "https://twitter.com/agesic", target: "_blank",
                         title: 'agesic twitter' do %>
                            <span class="show-for-sr">agesic twitter</span>
                            <span class="fa fa-twitter float-right" aria-hidden="true"></span>
            <% end %>
          </li>
          <li class="inline-block">
            <%= link_to "https://www.facebook.com/agesic.uy", target: "_blank",
                        title: 'agesic facebook' do %>
                        <span class="show-for-sr">agesic facebook</span>
                        <span class="fa fa-facebook float-right" aria-hidden="true"></span>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <%= raw content_block("footer", I18n.locale) %>
  </div>
</footer>
</div>
