<header>
  <div class="row header-bg">
    <div class="top-bar">

      <%= link_to root_path, class: "show-for-small-only" , accesskey: "0" do %>
        <p class="logo-yellow logo"> Gobierno Abierto. </p><br>
      <% end %>
           <%= link_to "4to Plan de Acción Nacional 2018 - 2020" , root_path, class: "logo show-for-small-only" %>

      <span data-responsive-toggle="responsive_menu" data-hide-for="medium" class="float-right">
        <span class="menu-icon dark" data-toggle></span>
      </span>

      <div id="responsive_menu">
        <div class="top-bar-title medium-5 large-6">
          <%= link_to root_path, class: "hide-for-small-only logo", accesskey: "0" do %>
           <h3 class="logo-yellow"> Gobierno Abierto. </h3><br>
            4to Plan de Acción Nacional 2018 - 2020
          <% end %>
        </div>

        <div class="top-bar-right medium-4 menu-margin large-6">
          <ul class="menu" data-responsive-menu="medium-dropdown">
            <%= render "shared/admin_login_items" %>
            <%= render "devise/menu/login_items" %>
          </ul>

          <div class="show-for-small-only">
            <div class="subnavigation row">
              <%= render "shared/subnavigation" %>
              <div class="small-12 column">
                <%= render "shared/top_links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="subnavigation expanded">
    <div class="row">
      <div class="hide-for-small-only">
        <%= render "shared/subnavigation" %>
      </div>
      <div class="small-12 medium-3 column">
        <%= yield :header_addon %>
      </div>
    </div>
  </div>

</header>
