<% provide :title do %><%= t('proposals.index.title') %><% end %>
<% content_for :header_addon do %>
  <%= render "shared/search_form",
             search_path: legislation_proposals_path(page: 1),
             i18n_namespace: "legislation_proposals.index.search_form",
             is_proposal: false %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: proposals_url %>
<% end %>

<main>

  <%= render "shared/section_header", i18n_namespace: "legislation_proposals.index.section_header", image: "proposals", is_proposals: false %>

  <div class="row">
    <div id="proposals" class="proposals-list small-12 medium-9 column">

      <% if has_banners? %>
        <%= render "shared/banner" %>
      <% end %>

      <%= render 'shared/order_links', i18n_namespace: "legislation_proposals.index" %>

      <% if @proposals.any? %>
        <div class="show-for-small-only">
          <%= link_to t("legislation_proposals.index.start_proposal"),
                      new_legislation_proposal_path,
                      class: 'button expanded' %>
        </div>
      <% end %>

      <div id="proposals-list">
        <% if @proposals.any? || current_user.blank? %>
          <%= render partial: 'proposal', collection: @proposals %>
        <% else %>
          <%= empty_recommended_proposals_message_text(current_user, false) %>
        <% end %>
        <%= paginate @proposals %>
      </div>
    </div>

    <div class="small-12 medium-3 column">
      <aside class="margin-bottom">
        <div class="proposals-create expanded">
          <% if !Proposal.legislation_in_active_period? %>
            <div class="participation-not-allowed" style='display:none' aria-hidden="false">
              <%= t("legislation_proposals.inactive",
                    date_from: @proposal_date_from,
                    date_to: @proposal_date_to).html_safe %>
            </div>
          <% end %>
          <% if Proposal.can_manage?(current_user, false) %>
            <%= link_to t("legislation_proposals.index.start_proposal"),
                         new_legislation_proposal_path,
                        class: 'button expanded' %>
          <% end %>
        </div>
        <% if params[:retired].blank? %>
          <%= render 'categories' %>
          <%= render 'geozones' %>
          <div id="section_help" class="margin" data-magellan-target="section_help">
            <h2 class="sidebar-title"><%= t("legislation_proposals.index.section_footer.title") %></h2>
            <p>Cualquier persona puede realizar comentarios a los compromisos, ya sea a título individual o en
            representación de organismos públicos, sociedad civil organizada, academia o sector privado.<br><br>
            Para realizar comentarios a los compromisos, debes previamente registrarte en
            <%= link_to 'ID Uruguay', 'https://mi.iduruguay.gub.uy/registro', target: :_blank %> e iniciar sesión en la
            plataforma.<br><br>
            Ingresando a <%= link_to 'Consulta Pública', legislation_proposals_path(is_proposal: false) %>, podés seleccionar un
            compromiso y realizar tus comentarios.<br><br>
            Tus comentarios nos sirven para mejorar los compromisos del 4° Plan de Acción Nacional de Gobierno Abierto.<br><br>
            Al ingresar al compromiso seleccionado, se visualizará un número identificatorio, un título, un resumen y un
            texto explicativo; si querés conocer la totalidad del compromiso, descargá la ficha adjunta.<br><br>
            <strong>El plazo para realizar comentarios vence el 7 de setiembre de 2018.</strong><br><br>
            Se denominan <strong>"compromisos de Gobierno Abierto"</strong> a aquellas iniciativas que aporten a
            los pilares de gobierno abierto (transparencia y acceso a la información pública, rendición de cuentas
            públicas, participación ciudadana, colaboración e innovación pública y ciudadana), las cuales buscan
            contribuir al interés general sobre una temática determinada y deberán ser ejecutadas en un plazo de 2 años.<br>
            </p>
          </div>
        <% end %>
      </aside>
    </div>
  </div>
</main>
