<% provide :title do %><%= t('proposals.index.title') %><% end %>
<% content_for :header_addon do %>
  <%= render "shared/search_form",
             search_path: legislation_proposals_path(page: 1),
             i18n_namespace: "legislation_proposals.index.search_form" %>
<% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: proposals_url %>
<% end %>

<main>

  <%= render "shared/section_header", i18n_namespace: "legislation_proposals.index.section_header", image: "proposals", is_proposals: false %>

  <div class="row">
    <div id="proposals" class="proposals-list small-12 medium-9 column">

      <% if has_banners? %>
        <%= render "shared/banner" %>
      <% end %>

      <%= render 'shared/order_links', i18n_namespace: "proposals.index" %>

      <% if @proposals.any? %>
        <div class="show-for-small-only">
          <%= link_to t("proposals.index.start_proposal"),
                      new_proposal_guide,
                      class: 'button expanded' %>
        </div>
      <% end %>

      <div id="proposals-list">
        <% if @proposals.any? || current_user.blank? %>
          <%= render partial: 'proposals/proposal', collection: @proposals %>
        <% else %>
          <%= empty_recommended_proposals_message_text(current_user) %>
        <% end %>
        <%= paginate @proposals %>
      </div>
    </div>

    <div class="small-12 medium-3 column">
      <aside class="margin-bottom">
        <div class="proposals-create expanded">
          <% if !Proposal.in_active_period? %>
            <div class="participation-not-allowed" style='display:none' aria-hidden="false">
              <%= t("proposals.inactive",
                    date_from: @proposal_date_from,
                    date_to: @proposal_date_to).html_safe %>
            </div>
          <% end %>
          <% if Proposal.can_manage? current_user %>
            <%= link_to t("legislation_proposals.index.start_proposal"),
                         new_legislation_proposal_path,
                        class: 'button expanded' %>
          <% end %>
        </div>

      </aside>
    </div>

  </div>
</main>
