<div class="proposal-form row">

  <div class="small-12 medium-9 column">
    <%= back_link_to %>

    <h3><%= t("legislation_proposals.new.start_new") %></h3>

    <%= render "form", form_url: proposals_url %>
  </div>

<div class="small-12 medium-3 column">
    <h4><%= t("legislation_proposals.new.recommendations_title") %></h4>
    <ul class="recommendations">
      <li><strong>Claridad.</strong>  Explicar la consulta pública de forma clara y sencilla, para que todos puedan comprenderla. Incluir el mayor detalle posible, objetivos, el ámbito de aplicación, los beneficiarios, las principales metas o resultados esperados, quien podría ser el organismo u organismos responsables de llevarla adelante.</li>
      <li><strong>Material Complementario.</strong> Adjuntar y/o vincular todo aquel material relacionado como imágenes, videos, documentos y enlaces a páginas de internet que puedan  complementar, enriquecer o justificar la consulta pública.</li>
      <li><strong>Duración.</strong>  Las consultas públicas deben ser específicas y acotadas, de manera de ser viable su realización en el período de setiembre de 2018 a agosto de 2020.</li>
      <li><strong>Respeto.</strong>  Recordar que esta herramienta constituye un ámbito de participación ciudadana, por lo cual la consulta pública debe contribuir al buen relacionamiento colectivo y estar acorde con las normas de convivencia social. Las consultas públicas y comentarios que incluyan lenguaje ofensivo y/o discriminatorio así como las que impliquen una acción ilegal o tengan la intención de sabotear este espacio de participación serán eliminadas.</li>
    </ul>
    <p>Por más información <%= link_to 'www.gobiernoabierto.gub.uy', 'http://gobiernoabierto.gub.uy', class: "body-link", target: :_blank %></p>
  </div>
</div>
