<% content_for :canonical do %>
  <%= render "shared/canonical", href: faq_url %>
<% end %>

<div class="row margin-top">
  <div class="menu small-12 medium-3 column">
    <%= back_link_to %>

    <ul class="menu vertical margin-top">
      <li><a href="#1">¿Por qué se implementó esta plataforma?</a></li>
      <li><a href="#2">¿Qué es Gobierno Abierto?</a></li>
      <li><a href="#3">¿Qué es la Alianza para el Gobierno Abierto?</a></li>
      <li><a href="#4">¿Qué son los planes de acción de Gobierno Abierto? </a></li>
      <li><a href="#5">¿Es posible solo ingresar propuestas en la plataforma? </a></li>
      <li><a href="#6">¿Qué sucederá con la propuesta? </a></li>
      <li><a href="#7">¿Mi propuesta formará parte del 4to Plan de Acción? </a></li>
      <li><a href="#8">¿Cuál es el plazo para realizar una propuesta?</a></li>
      <li><a href="#9">¿Quién es el responsable de implementar mi propuesta? </a></li>
      <li><a href="#10">¿Puedo enviar propuestas por otros medios? </a></li>
      <li><a href="#11">¿Qué tipo de comentarios se pueden realizar?</a></li>
      <li><a href="#12">¿Las propuestas y los comentarios serán publicados automáticamente?</a></li>
      <li><a href="#13">¿Qué otro ámbito de participación existen para ser parte de la construcción del 4to plan?</a></li>
      <li><a href="#14">¿Dónde puedo encontrar más información?</a></li>
      <li><a href="#15">¿Qué hacer si en la lista predefinida de categorías, no encuentro la que mejor se asocia con mi propuesta?</a></li>
    </ul>
  </div>

  <div class="text small-12 medium-9 column">

    <h4 id="1">¿Por qué se implementó esta plataforma?</h4>
    <p>Esta plataforma virtual se implementó para que todos los involucrados puedan participar, sin barreras geográficas ni temporales, en la construcción del 4to Plan de Acción Nacional de Gobierno Abierto 2018-2020.<br>
    La plataforma tiene como objetivo que organismos del Estado, sociedad civil, academia y la ciudadanía en general puedan crear propuestas sobre temáticas de su interés y que aporten al fortalecimiento del Gobierno Abierto.<br>
    Un elemento central del Gobierno Abierto es la promoción de la participación, la colaboración e innovación pública y ciudadana a partir de la generación de nuevos espacios de encuentro, diálogo y trabajo que favorezcan la cocreación de iniciativas a partir de las diversas miradas que pueden aportar actores del Estado, Sociedad civil, academia, sector privado, entre otros. Supone reconocer las capacidades que dispone la sociedad para aportar en la búsqueda de soluciones.
</p>
    <h4 id="2">¿Qué es Gobierno Abierto?</h4>
    <p>Es el conjunto de mecanismos y estrategias que contribuye a la gobernanza pública y al buen gobierno, basado en los pilares de la transparencia, acceso a la información pública, rendición de cuentas públicas, participación ciudadana, colaboración e innovación pública, centrando e incluyendo a la ciudadanía en el proceso de toma de decisiones, así como en la formulación e implementación de políticas públicas, para fortalecer la democracia, la legitimidad de la acción pública, mejores servicios públicos y calidad de vida de las personas.
</p>
    <h4 id="3">¿Qué es la Alianza para el Gobierno Abierto? </h4>
    <p>La Alianza para el Gobierno Abierto (AGA) es una iniciativa multilateral que tiene como objetivo obtener compromisos concretos por parte de los gobiernos para promover la transparencia, capacitar a la ciudadanía, combatir la corrupción y aprovechar las nuevas tecnologías para fortalecer la gobernabilidad. Desde 2011 Uruguay forma parte de la Alianza para el Gobierno Abierto. Todos los países que la integran están obligados a presentar Planes de Acción bianuales, que están compuestos por iniciativas cocreadas entre los organismos del Estado, sociedad civil, academia y la ciudadanía en general y promuevan los pilares de Gobierno Abierto. Ver más información sobre la Alianza para el Gobierno Abierto en <%= link_to 'www.opengovpartnership.org/', 'https://www.opengovpartnership.org/', target: :_blank %>
</p>
    <h4 id="4">¿Qué son los planes de acción de Gobierno Abierto? </h4>
    <p>Los planes de acción integran  un conjunto de compromisos, cuyas iniciativas fueron cocreadas entre los organismos del Estado, sociedad civil, academia y la ciudadanía en general que promueven los pilares de Gobierno Abierto.<br>
    Los planes de acción luego de aprobados, tienen un plazo de ejecución de dos años. Durante este período se realiza el monitoreo del avance de cumplimiento a través de un Grupo de Trabajo integrado por representantes de gobierno, sociedad civil y academia y una evaluación externa a través de un mecanismo de revisión independiente. Ver información de otros planes en <%= link_to 'Estrategia en Uruguay', 'https://www.agesic.gub.uy/innovaportal/v/6048/1/agesic/estrategia-en-uruguay.html?idPadre=3813', target: :_blank %>.

</p>
    <h4 id="5">¿Es posible solo ingresar propuestas en la plataforma? </h4>
    <p>Es posible ingresar propuestas, comentar o complementar propuestas existentes.
</p>
    <h4 id="6">¿Qué sucederá con la propuesta? </h4>
    <p> Una vez finalizado el plazo, las propuestas presentadas serán procesadas, sistematizadas y analizadas para luego ser priorizadas en el <%= link_to 'Grupo de Trabajo de Gobierno Abierto', 'https://www.agesic.gub.uy/innovaportal/v/4789/25/agesic/grupo-de-trabajo.html?idPadre=4785', target: :_blank %>. Al finalizar el proceso, el estado de tu propuesta se publicará en las páginas web de <%= link_to 'Gobierno Abierto', 'http://www.gobiernoabierto.gub.uy', target: :_blank %> y <%= link_to 'Agesic', 'http://www.agesic.gub.uy', target: :_blank %>. Allí se indicará si tu propuesta se transformó en un compromiso, si se integró parcialmente a un compromiso, si su ejecución no se considera viable, etc. En caso de que tu propuesta no sea considerada en esta instancia, podrá ser considerada para la ejecución de futuros planes de acción.

</p>
    <h4 id="7">¿Mi propuesta formará parte del 4to Plan de Acción? </h4>
    <p>Todas las propuestas y sus comentarios serán analizadas por el Grupo de Trabajo de Gobierno Abierto, para luego ser priorizadas según los criterios establecidos. Aquellas cuya viabilidad y sostenibilidad lo permita se transformarán, total o parcialmente, en compromisos que integren el plan; otras propuestas, en cambio, ya sea por su naturaleza, por falta de infraestructura para implementarlas o por ausencia de organismos que puedan ejecutarla, no serán integradas al 4to Plan de Acción Nacional de Gobierno Abierto, pero aun así serán consideradas para futuras instancias. Al finalizar el proceso, todas las propuestas presentadas se publicarán en <%= link_to 'www.gobiernoabierto.gub.uy', 'http://www.gobiernoabierto.gub.uy', target: :_blank %> y se podrá visualizar el estado de cada una.
</p>
    <h4 id="8">¿Cuál es el plazo para realizar una propuesta?</h4>
    <p>El plazo para ingresar propuestas y hacer comentarios estará abierto hasta el 17 de junio de 2018.</p>
    <h4 id="9">¿Quién es el responsable de implementar mi propuesta? </h4>
    <p>Los organismos del Estado serán los responsables de analizar la viabilidad de implementación dentro de los dos años de ejecución que dispone el plan. Aquellas que se consideren viables de realizar, evolucionarán hasta transformarse en compromisos del 4to Plan de Acción de Gobierno Abierto y, en tal caso, el/los organismo/s público/s responsable/s de su implementación trabajará/n en conjunto con la sociedad civil para implementarlas.</p>
    <h4 id="10">¿Puedo enviar propuestas por otros medios? </h4>
    <p>No; todas las propuestas, ya sea a título personal o en representación de un organismo del Estado, la sociedad civil o la academia, deberán ser ingresadas en esta plataforma. Si  lo desea, podrá participar de instancias presenciales de cocreación donde podrán presentar las propuestas y analizar en conjunto la viabilidad de las mismas con el resto de los actores interesados. Una vez cumplidas las instancias presenciales todas las propuestas deberán ser ingresadas en la plataforma para que todas las personas puedan conocerlas y comentarlas. En caso de dudas sobre el proceso <%= link_to 'www.gobiernoabierto.gub.uy', 'http://www.gobiernoabierto.gub.uy', target: :_blank %>.
</p>
    <h4 id="11">¿Qué tipo de comentarios se pueden realizar? </h4>
    <p>Es posible realizar cualquier tipo de comentarios, siempre y cuando no sean inadecuados en virtud de su lenguaje o los contenidos que involucren. Los comentarios tienen el objetivo de transformarse en aportes a una determinada propuesta, de forma de enriquecerla, mejorarla y/o complementarla.
</p>
    <h4 id="12">¿Las propuestas y los comentarios serán publicados automáticamente? </h4>
    <p>Sí; una vez que se realiza una propuesta o comentario, estos quedan automáticamente publicados y visibles para todas las personas. Solo podrá bloquearse alguna propuesta o comentario que se considere inadecuado a juicio de un moderador. Dicho moderador tendrá un rol pasivo, ya que solo intervendrá en caso de que hayan propuestas y/o comentarios que incluyan contenidos o propaganda de carácter racista, sexista, xenófobo, de apología a la violencia o que atenten contra los derechos humanos y la dignidad de las personas. Asimismo, el moderador podrá eliminar propuestas y comentarios redactados con lenguaje insultante, que atenten contra la legislación vigente en materia de derechos fundamentales y libertades públicas (especialmente, en lo concerniente al derecho al honor, la intimidad y la propia imagen) y que puedan considerarse “spam”.</p>

    <h4 id="13">¿Qué otro ámbito de participación existen para ser parte de la construcción del 4to plan?</h4>
    <p>Existen durante el proceso de cocreación etapas presenciales, que tienen como objetivo la creación de espacios de intercambio entre los diferentes actores sobre potenciales iniciativas y/o demandas de la sociedad civil que puedan transformarse en compromisos. Todas las ideas y/o propuestas presentadas en los ámbitos presenciales serán publicadas también en esta plataforma para que puedan ser comentadas. Para conocer información sobre las Mesas de Diálogo y Trabajo <%= link_to 'www.gobiernoabierto.gub.uy', 'http://www.gobiernoabierto.gub.uy' , target: :_blank%>.
</p>
    <h4 id="14">¿Dónde puedo encontrar más información?</h4>
    <p>Por más información <%= link_to 'gobiernoabierto.gub.uy', 'http://gobiernoabierto.gub.uy', target: :_blank %>
  </p>
  <h4 id="15">¿Qué hacer si en la lista predefinida de categorías, no encuentro la que mejor se asocia con mi propuesta?</h4>
    <p>Pedir asesoramiento al equipo de Gobierno Abierto a <a href="mailto:gobiernoabierto@agesic.gub.uy">gobiernoabierto@agesic.gub.uy</a>
  </p>
  </div>
</div>
