<% content_for :canonical do %>
  <%= render "shared/canonical", href: faq_url %>
<% end %>

<div class="row margin-top">
  <div class="menu small-12 medium-3 column">
    <%= back_link_to %>

    <ul class="menu vertical margin-top">
      <li><a href="#1"><strong>¿Por qué se implementó esta plataforma?</strong></a></li>
      <li><a href="#2"><strong>Hablamos de Gobierno Abierto ¿Qué es?</strong></a></li>
      <li><a href="#3"><strong>¿Cómo trabajar en las políticas de Gobierno Abierto?</strong></a></li>
      <li><a href="#4"><strong>¿Mi propuesta formará parte del nuevo Plan de Acción? </strong></a></li>
      <li><a href="#5"><strong>¿Las propuestas evolucionan?</strong></a></li>
      <li><a href="#6"><strong>¿Tengo plazo para ingresar mi propuesta? </strong></a></li>
      <li><a href="#7"><strong>¿Quién/es implementa/s estas propuestas?</strong></a></li>
      <li><a href="#8"><strong>¿Puedo enviar propuestas por otros medios?</strong></a></li>
      <li><a href="#9"><strong>¿Qué tipo de comentarios puedo realizar?</strong></a></li>
      <li><a href="#10"><strong>¿Las propuestas y comentarios quedan publicados automáticamente?</strong></a></li>
      <li><a href="#11"><strong>¿Qué rol tiene el moderador?</strong></a></li>
      <li><a href="#12"><strong>¿Cómo sé que se finalizó el plazo para ingresar una propuesta?</strong></a></li>
      <li><a href="#13"><strong>¿Qué pasa con mi propuesta?</strong></a></li>
      <li><a href="#14"><strong>¿Al finalizar el proceso que sucede con mi propuesta?</strong></a></li>
    </ul>
  </div>

  <div class="text small-12 medium-9 column">

    <h2 id="1">¿Por qué se implementó esta plataforma?</h2>
    <p>En el marco de Gobierno Abierto un elemento central es la participación ciudadana, pero no solo como un requisito idealista sino como objetivo de reflejar lo que implica lograr que las reformas de gobierno abierto funcionen. La participación y la colaboración entre los ciudadanos, la sociedad civil, líderes políticos y funcionarios, es esencial para desarrollar e implementar reformas duraderas de gobierno abierto. De esta manera una plataforma virtual done todos los ciudadanos puedan participar sin barreras geográficas ni temporales, hacen posible un mayor involucramiento.
</p>
    <h2 id="2">Hablamos de Gobierno Abierto ¿Qué es?</h2>
    <p>El Gobierno Abierto busca que la ciudadanía colabore en la creación y mejora de servicios públicos y en el fortalecimiento de la transparencia y la rendición de cuentas, incorporando el uso de nuevas tecnologías para potenciar y fortalecer el desarrollo del mismo, siendo estos los pilares y/o valores que sustentan el concepto.
</p>
    <h2 id="3">¿Cómo trabajar en las políticas de Gobierno Abierto? </h2>
    <p>Desde 2011 Uruguay integra la Alianza para el Gobierno Abierto (AGA), iniciativa multilateral que tiene como objetivo obtener compromisos concretos de los gobiernos para promover la transparencia, capacitar a la ciudadanía, combatir la corrupción y aprovechar las nuevas tecnologías para fortalecer la gobernabilidad. La creación de los Planes de Acción es uno de los requisitos excluyentes para formar parte de esta alianza, los cuales están integrados por iniciativas de los organismos del Estado, sociedad civil, academia y la ciudadanía en general. 
</p>
    <h2 id="4">¿Mi propuesta formará parte del nuevo Plan de Acción? </h2>
    <p>El objetivo de la plataforma es que la ciudadanía en general pueda crear propuestas de temáticas de su interés y que aporten al fortalecimiento del Gobierno Abierto, no todas podrán formar parte del plan, las mismas serán evaluadas y priorizadas por el Grupo de Trabajo de Gobierno Abierto, algunas de ellas parcial o total se transformaran en compromisos que integren el plan. Otras propuestas, no quedaran integradas ya sea por su naturaleza, porque no hay infraestructura para implementarla, porque no hay un organismos que pueda ejecutarla, etc.
 
</p>
    <h2 id="5">¿Las propuestas evolucionan?</h2>
    <p> Si, las propuestas que crean los ciudadanos, serán apoyadas y comentadas, una vez se cierre el plazo para ingresar, las mismas pasaran por un proceso de priorización, donde se evaluara viabilidad de las mismas, transformándose o no en compromisos parte del 4° Plan de Acción. Como no todas evolucionan en compromisos, al finalizar el proceso se publicaran a través de la web de gobiernoabierto.gub.uy<%= link_to 'gobiernoabierto.gub.uy', 'http://gobiernoabierto.gub.uy', target: :_blank %>, el status de la propuesta realizada.
</p>
    <h2 id="6">¿Tengo plazo para ingresar mi propuesta? </h2>
    <p>Si. El plazo para ingresar es hasta el 5 de mayo de 2018.
</p>
    <h2 id="7">¿Quién/es implementa/s estas propuestas?</h2>
    <p>Los organismos del Estado. Una vez cierre el plazo para ingresar propuesta, los distintos organismos del Estado analizarán la propuesta evolucionándola a un compromiso en caso de que la misma sea viable y un organismo determinado tenga la capacidad de implementación del mismo, trabajando conjuntamente con sociedad civil.
</p>
    <h2 id="8">¿Puedo enviar propuestas por otros medios?</h2>
    <p>No, todas las propuestas ya sea un ciudadano a título personal, en representación de un organismo del Estado, sociedad civil y/o academia, deberá ingresarla en esta plataforma</p>
    <h2 id="9">¿Qué tipo de comentarios puedo realizar?</h2>
    <p>Se puede realizar cualquier tipo de comentario, mientras el mismo no sea de índole inadecuado ya sea por su lenguaje o contenido. El objetivo de los comentarios es que sirva de insumo de la propuesta a la que está comentando, y de esta manera se pueda lograr una propuesta más rica en su contenido.</p>
    <h2 id="10">¿Las propuestas y comentarios quedan publicados automáticamente?</h2>
    <p>Si, una vez que la misma se realiza queda automáticamente publicada y visible a toda la ciudadanía. Solo podrá bloquearse alguna propuesta y/o comentario que no corresponda, para ello habrá un moderador.
</p>
    <h2 id="11">¿Qué rol tiene el moderador?</h2>
    <p>El rol del moderador es pasivo, ya que solo intervendrá en caso de propuestas y/o comentarios tengan comentario que incluyan contenidos o propaganda de carácter racista, sexista, xenófobo, de apología del terrorismo o que atenten contra los derechos humanos o la dignidad de las personas. Tampoco pueden tener un lenguaje de carácter insultante, atentar contra la legislación vigente en materia de derechos fundamentales y libertades públicas especialmente en lo concerniente al derecho al honor, la intimidad y la propia imagen y, por último, tampoco se podrán iniciar propuestas que tengan carácter reiterativo o puedan considerarse como "spam".
</p>
    <h2 id="12">¿Cómo sé que se finalizó el plazo para ingresar una propuesta?</h2>
    <p>Una vez que finalice el plazo para ingresar propuestas, se visualizará un banner en la parte superior de la plataforma informando que el plazo ha finalizado. Asimismo en caso de querer ingresar una propuesta y/o comentario no estará habilitado.</p>
    <h2 id="13">¿Qué pasa con mi propuesta?</h2>
    <p>Una vez ingresada la propuesta y finalizado el plazo, las mismas serán procesadas, sistematizadas, analizadas, para luego ser priorizadas en el Grupo de Trabajo de Gobierno Abierto.
</p>
<h2 id="14">¿Al finalizar el proceso que sucede con mi propuesta?</h2>
    <p>Al finalizar el proceso se publicará en la página web de <%= link_to 'gobiernoabierto.gub.uy', 'http://gobiernoabierto.gub.uy', target: :_blank %>, <%= link_to 'agesic.gub.uy', 'http://agesic.gub.uy' , target: :_blank%> y <%= link_to 'www.opengovpartnership.org', 'http://www.opengovpartnership.org', target: :_blank %>, el estado de la propuesta ingresada, es decir si la misma se transformó en un compromiso, si se integró en parte a un compromiso, si no era viable, etc. En caso de que la propuesta no quede en esta instancia, podrá ser considerada para futuros planes de acción. </p>

    <P>Por más información ingresar a Proceso de Co creación del 4° Plan de Acción Nacional de Gobierno Abierto 2018-2020.
    </p>
  </div>
</div>
