<div class="row account">
  <div class="small-12 column">
    <div class="float-right text-right">
      <%= link_to t("account.show.erase_account_link"), users_registrations_delete_form_path, class: "delete" %>
    </div>

    <span class="avatar-title header-bg" > <%=  @account.name[0].try(:upcase) if @account %></span>

    <h3 class="inline-block"><%= t("account.show.title") %></h3>

    <%= form_for @account, as: :account, url: account_path do |f| %>
      <%= render "shared/errors", resource: @account %>

      <div class="row">
        <div class="small-12 medium-5 column">

          <h4><%= t("account.show.personal")%></h4>

          <div class="small-12 medium-10">
            <% if @account.organization? %>
              <%= f.fields_for :organization do |fo| %>
                <%= fo.text_field :name, autofocus: true, maxlength: Organization.name_max_length, placeholder: t("account.show.organization_name_label") %>
                <%= fo.text_field :responsible_name, autofocus: true, maxlength: Organization.responsible_name_max_length, placeholder: t("account.show.organization_responsible_name_placeholder") %>
              <% end %>
              <%= f.text_field :phone_number, placeholder: t("account.show.phone_number_label") %>

            <% else %>
              <%= f.text_field :username, maxlength: User.username_max_length, placeholder: t("account.show.username_label") %>
            <% end %>
          </div>

          <div>
            <%= f.label :public_activity do %>
              <%= f.check_box :public_activity, title: t('account.show.public_activity_label'), label: false %>
              <span class="checkbox">
                <%= t("account.show.public_activity_label") %>
              </span>
            <% end %>
          </div>
          <br>
        </div>

        <div class="user-permissions small-12 medium-7 column">
        <% if @account.email.present? %>
            <h4><%= t("account.show.notifications")%></h4>

            <div>
              <%= f.label :email_on_comment do %>
                <%= f.check_box :email_on_comment, title: t('account.show.email_on_comment_label'), label: false %>
                <span class="checkbox">
                  <%= t("account.show.email_on_comment_label") %>
                </span>
              <% end %>
            </div>

            <div>
              <%= f.label :email_on_comment_reply do %>
                <%= f.check_box :email_on_comment_reply, title: t('account.show.email_on_comment_reply_label'), label: false %>
                <span class="checkbox">
                  <%= t("account.show.email_on_comment_reply_label") %>
                </span>
              <% end %>
            </div>

            <div>
              <%= f.label :email_digest do %>
                <%= f.check_box :email_digest, title: t('account.show.email_digest_label'), label: false %>
                <span class="checkbox">
                  <%= t("account.show.email_digest_label") %>
                </span>
              <% end %>
            </div>

          <% end %>

          <% if @account.official_level == 1 %>
            <div>
              <%= f.label :official_position_badge do %>
                <%= f.check_box :official_position_badge,
                                 title: t('account.show.official_position_badge_label'),
                                 label: false %>
                <span class="checkbox">
                  <%= t("account.show.official_position_badge_label") %>
                </span>
              <% end %>
            </div>
          <% end %>
        </div>
          <%= f.submit t("account.show.save_changes_submit"), class: "button margin-top margin-right-10 pull-right" %>
      </div>
    <% end %>

  </div>
</div>
