<% content_for :body_class, "home-page" %>

<% content_for :canonical do %>
  <%= render "shared/canonical", href: root_url %>
<% end %>

<% provide :social_media_meta_tags do %>
  <%= render "shared/social_media_meta_tags",
              social_url: root_url,
              social_title: 'Gobierno abierto',
              social_description: 'Propuestas para el 4ª Plan de Acción' %>
<% end %>

<div class="jumbo highlight">
  <div class="row">
    <div class="small-12 medium-11 column pull-left">
      <p class="big-text margin-top-30 line-h-3_5">Proponé y participa</p>
      <p class="medium-text margin-top-30">Podés presentar propuestas y hacer comentarios hasta el 15 de mayo de 2018.</p>
      <p class="medium-text margin-top-30">Proponé ideas o iniciativas que  fortalezcan la transparencia, el acceso a la información pública, la rendición de cuentas, la participación y la colaboración ciudadana.</p>
      <br>
      <div class='link-proposal-home'>
        <%= link_to 'Ver propuestas', proposals_path, class: 'button'%>
      </div>
    </div>
  </div>
</div>

<% if feature?("user.recommendations") && (@recommended_debates.present? || @recommended_proposals.present?) %>
  <%= render "recommended",
              recommended_debates: @recommended_debates,
              recommended_proposals: @recommended_proposals %>
  <hr>
<% end %>
<div class="row">
  <%= link_to 'Etapas del proceso de cocreación', more_info_path , class: 'title-home m-big-title-blue titel-margin-left m-big-title line-h-3_5'%>
</div>
<% cache [locale_and_user_status, @featured_debates, @featured_proposals, 'featured'] do %>
  <main>
    <div class="small-12 column text-center sub-task-home">
      <div class="row">
        <div class="small-12 medium-3 pull-left yellow-border column">
          <p class="blue-text m-big-text">crear</p>
          <p class="big-p">presentá tus propuestas</p>
          <p class="pull-left big-date pull-top-1">Hasta el 15 de mayo</p>
        </div>
        <div class="small-12 medium-3 pull-left yellow-border column">
          <p class="blue-text m-big-text">priorizar</p>
          <p class="big-p">el grupo de trabajo las priorizará</p>
          <p class="pull-left big-date pull-top-2">Junio</p>
        </div>
        <div class="small-12 medium-3 pull-left yellow-border column">
          <p class="blue-text m-big-text">consultar</p>
          <p class="big-p">participá de la consulta pública</p>
          <p class="pull-left big-date pull-top-3">Julio</p>
        </div>
        <div class="small-12 medium-3 pull-left yellow-border column">
          <p class="blue-text m-big-text">aprobar</p>
          <p class="big-p">los compromisos serán aprobados por el Poder Ejecutivo</p>
          <p class="pull-left big-date pull-top-4">Agosto</p>
        </div>
      </div>
    </div>
  </main>
<% end %>
