<div class="row">
  <div class="small-12 column">
    <ul class="menu-pages" data-magellan>
      <li>
        <%= link_to "1. Crear", "#crear", class: "button expanded" %>
      </li>
      <li>
        <%= image_tag 'flecha.png', alt: 'flecha', class: "hide-for-small-only" %>
      </li>
      <li>
        <%= link_to "2. Priorizar", "#priorizar", class: "button expanded" %>
      </li>
      <li>
        <%= image_tag 'flecha.png', alt: 'flecha' ,class: "hide-for-small-only" %>
      </li>
      <li>
        <%= link_to "3. Consultar", "#consultar", class: "button expanded" %>
      </li>
      <li>
        <%= image_tag 'flecha.png', alt: 'flecha', class: "hide-for-small-only" %>
      </li>
      <li>
        <%= link_to "4. Aprobar", "#aprobar", class: "button expanded" %>
      </li>
    </ul>
  </div>
</div>
