<div class="row section-content">
  <div class="small-12 column">
    <h4 id="crear" data-magellan-target="proposals">
      Etapa 1. Crear propuestas
    </h4><p>Hasta: 15/5</p>
    <p>La primera etapa del proceso es para generar ideas y propuestas. Cualquier persona, ya sea a título personal o en representación de un organismo del Estado, de la sociedad civil, academia, sector privado puede participar de esta etapa del proceso.</p>
    <p>Las propuestas o ideas deberán estar vinculadas a temáticas específicas tales como: diversidad y género, derechos humanos, medio ambiente, desarrollo sostenible, seguridad, justicia y anticorrupción, cultura y educación, empresas, industria y energía, salud y cuidados, desarrollo social y/o inclusión social, presupuesto y finanzas públicas, trabajo y seguridad social, juventud, ganadería, agricultura y pesca, etc. </p>
    <p>Todas las propuestas independientemente de la temática deberán aportar a por lo menos uno de los pilares de Gobierno Abierto: Transparencia, Rendición de Cuentas, Participación y Colaboración Ciudadana.</p>

    <p>Se pueden crear propuestas en forma virtual directamente a través de esta plataforma o participando en instancias presenciales de cocreación como mesas de diálogo y talleres (El cronograma de actividades será publicado en la página <%= link_to 'www.gobiernoabierto.gub.uy', 'http://www.gobiernoabierto.gub.uy', target: :_blank %>). Estos ámbitos tienen como objetivo crear espacios de intercambio entre los diferentes actores para identificar potenciales iniciativas y/o demandas de la sociedad civil que puedan transformarse en compromisos a ser asumidos por organismos del Estado.  </p>

    <p><strong>Todas</strong> las propuestas estarán publicadas en esta plataforma para que las personas puedan conocerlas y comentarlas.</p>

    <p>Para participar en esta plataforma deberás registrarte en <%= link_to 'ID Uruguay', 'https://mi.iduruguay.gub.uy/registro', target: :_blank %> y una vez tengas tu usuario podrás iniciar sesión.</p>
    <h4 id="priorizar" data-magellan-target="proposals">
      Etapa 2. Priorizar
    </h4><p>Hasta: 08/6</p>
    <p>Todas las propuestas y sus comentarios serán sistematizadas y analizadas por el <%= link_to 'Grupo de Trabajo de Gobierno Abierto', 'https://www.agesic.gub.uy/innovaportal/v/4789/25/agesic/grupo-de-trabajo.html?idPadre=4785', target: :_blank %>, integrado por representantes del Estado (OPP, MEF, MRREE, MIEM, INE, UAIP, AGESIC, Poder Judicial, Poder Legislativo, Congreso de Intendentes), representantes de la Red de Gobierno Abierto por sociedad civil y de la academia (Instituto de Ciencia Política, Facultad de Ciencias Sociales, Udelar), para luego ser priorizadas según criterios establecidos por este Grupo de Trabajo. </p>

    <p>Los organismos del Estado serán los responsables de analizar la viabilidad de implementación dentro de los dos años de ejecución que dispone el plan. </p>

    <p>Las propuestas que se consideren viables de realizar y sostenibles en el tiempo, podrán evolucionar en compromisos que integren total o parcialmente el 4to. Plan de Acción, mientras que las que no alcancen ese estado, podrán ser consideradas para futuras instancias. El 4to plan de acción estará integrado por aproximadamente 20 compromisos.</p>
    <p>Al momento de armar el conjunto de iniciativas priorizadas se considerarán las siguientes pautas:</p>

    <ul class="features">
      <li>
       <p> Todas las propuestas y/o iniciativas que pertenezcan a un mismo organismo y traten de una misma temática, serán agrupadas en un único compromiso. </p>
      </li>
      <li>
       <p> Se buscará seleccionar compromisos con la mayor heterogeneidad posible de organismos.</p>
      </li>
      <li>
       <p> En caso de que existan varias propuestas de menor alcance pero que aporten a una misma temática, se evaluará con los organismos, la posibilidad de transformarlas en parte de una iniciativa de mayor alcance que las integre.</p>
      </li>
    </ul>

    <h4 id="consultar" data-magellan-target="proposals">
      Etapa 3. Consulta Pública
    </h4><p>Hasta: 26/6</p>
    <p>Las propuestas que hayan evolucionado en compromisos que incluyan objetivos, metas definidas, plazos de implementación y actores responsables y sean viables por contar con los recursos necesarios serán llevadas a consulta pública a través de esta plataforma a efectos de enriquecerlos.</p>

    <p>La ficha de cada compromiso serán publicadas durante 2 semanas para que cualquier persona pueda realizar aportes.</p>
    <p>Estos serán intercambiados con los organismos responsables a efectos de definir la viabilidad de su incorporación en el compromiso.</p>

    <h4 id="aprobar" data-magellan-target="proposals">
      Etapa 4. Aprobación y Publicación
    </h4><p>Hasta: 31/8</p>
    <p>Una vez finalizada la Consulta Pública, en el marco del Grupo de Trabajo de Gobierno Abierto se crea la versión final del 4to Plan de acción de Gobierno Abierto. La versión final del plan, así como los documentos que dan cuenta de todo el proceso son aprobados por las autoridades responsables de los compromisos y formalmente por Decreto del Poder Ejecutivo.</p>

    <p>Una vez aprobado el plan es publicado en la página web de <%= link_to 'Agesic', 'http://agesic.gub.uy' , target: :_blank %>, <%= link_to 'www.gobiernoabierto.gub.uy', 'http://www.gobiernoabierto.gub.uy' , target: :_blank %> y de <%= link_to 'OGP', 'https://www.opengovpartnership.org/' , target: :_blank %>.</p>

    <p>Puede acceder a más información <%= link_to 'de los planes de acción de Uruguay','https://www.agesic.gub.uy/innovaportal/v/6048/1/agesic/estrategia-en-uruguay.html?padre=3813&amp;idPadre=3813', target: :_blank %></p>
  </div>
</div>
