<div class="row section-content">
  <div class="small-12 column">
    <h3 id="proposals" data-magellan-target="proposals">
      <%= t("pages.more_info.proposals.title") %>
    </h3>
    <p>En esta parte se va a explicar con mayor detalle las funcionalidades de la herramienta y el proceso, pero si se quiere saber más se agrega un enlace a “Problemas técnicos” (mas adelante verán que este nombre cambia”) y en vez de tener este nombre cambiarlo y poner por ejemplo “Más información sobre el proceso”</p>
 
    <p>Usted ha ingresado a una plataforma, la cual propone una evolución de la participación ciudadana en los asuntos públicos de su país, para que entre todos los ciudadanos tengamos la oportunidad de realizar propuestas para la creación del 4° Plan de Acción Nacional de Gobierno Abierto 2018-2020, logrando así, una mayor cultura de transparencia, rendición de cuentas, participación y colaboración.</p>
 
    <p>La apertura de esta instancia virtual permite que no existan barreras en cuanto a distancias territoriales y temporales, permitiendo una mayor participación ciudadana.</p>
 
    <p>Todas las propuestas ingresadas, ya sea por un organismo del Estado, por Sociedad civil, Academia y o individuos a título personal, será procesadas, sistematizadas y analizadas por el <%= link_to 'Grupo de Trabajo de Gobierno Abierto', 'https://www.agesic.gub.uy/innovaportal/file/6048/1/cons_min_417.pdf', target: :_blank %> , para que luego de un proceso de priorización las mismas podrán transformarse en compromisos del 4° Plan de Acción Nacional de Gobierno Abierto.</p>
 
    <p>Recuerda que aquellas propuestas que no sean ingresadas a esta plataforma no podrán ser consideradas para formar parte de esta Plan Nacional.</p>
 
    <p>Para poder realizar una propuesta deberás registrarte en <%= link_to 'ID Uruguay', 'https://mi.iduruguay.gub.uy/registro', target: :_blank %> y una vez tengas tú usuario inicia sesión en la plataforma.</p>
 
    <p>Pulsando el botón “Crea una propuesta” podrás ingresar tu propuesta completando los campos solicitados, también se pueden adjuntar archivos, subir videos, enlaces, etc. </p>
 
    <p>La/s propuesta/s que Usted ingrese podrán ser comentadas y/o apoyadas por los ciudadanos, las mas apoyadas servirán de indicador para saber donde están las preferencias de las personas y los comentarios serán insumos para enriquecer una propuesta.</p>
 

</p>
    <ul class="features">
      <li>
        Para apoyar una propuesta se pulsa el botón “Apoyar”, la cantidad de apoyo servirá para saber donde están las temáticas de interés de la ciudadanía.
      </li>

    <figure>
      <%= image_tag "more_info/proposals_#{I18n.locale}.png", alt: t("pages.more_info.proposals.image_alt") %>
      <figcaption><%= t("pages.more_info.proposals.figcaption_html") %></figcaption>
    </figure>
      <li>Para comentar una propuesta debes ir a “Deja tu comentario”, el cual puede ser de  distinta índole, pero siempre tiene por objetivo que sea un insumo que posibilite la evolución de la propuesta. 
</li>
 
    <p>No te olvides! Que con los comentarios de todos los ciudadanos tu propuesta puede crecer y ser una Gran Propuesta!</p>
    </ul>

    <%= link_to 'Saber mas', faq_path %>
  </div>
</div>
