<% provide :title do %><%= t("pages.titles.more_info", org_name: setting['org_name']) %><% end %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: more_info_url %>
<% end %>

<div class="jumbo light">
  <div class="row">
    <div class="small-12 column">
      <p>El 4to. Plan de Acción Nacional de Gobierno Abierto tiene el objetivo de continuar avanzando en la estrategia país de promover la transparencia, el acceso a la información pública, la rendición de cuentas, la participación y colaboración ciudadana.</p>
      <p>Los compromisos que integren el plan deberán aportar a los pilares de Gobierno Abierto y estar vinculados directamente con temáticas específicas tales como: diversidad y género, derechos humanos, medio ambiente, desarrollo sostenible, seguridad, justicia y anticorrupción, cultura y educación, empresas, industria y energía, salud y cuidados, desarrollo social y/o inclusión social, presupuesto y finanzas públicas, desarrollo local, trabajo y seguridad social, juventud, ganadería, agricultura y pesca, etc.</p>
      <p>El proceso de cocreación del 4to Plan de Acción Nacional de Gobierno Abierto está formado por 4 etapas que serán desarrolladas entre Marzo y Agosto del 2018.</p>
    </div>
  </div>

  <%= render "pages/more_info/menu" %>
</div>

<div id="more-info" class="more-info-content">
  <div class="row">
    <div class="small-12 medium-7 large-8 column">

      <% if feature?(:proposals) %>
        <%= render "pages/more_info/proposals" %>
      <% end %>
    </div>
    <div class="small-12 medium-4 large-3 column more-info-sidebar">
      <%= render "pages/more_info/sidebar" %>
    </div>
  </div>


</div>
